body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
}

.head {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 180px 120px;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.headlinks {
    display: flex;
    gap: 16px;
}


.headlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.head-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.head-desc {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.statement {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

#statement-desc {
    margin: 0;
    margin-bottom: 10px;
}
.image {
    text-align: center;
    height: auto;
    min-width: 200px;
    max-height: 34px;
    background-color: grey;
    padding: 90px 110px;
}

.signup {
    width:fit-content;
    padding: 8px 24px;
    border-radius: 4px;
    border: #3882f6;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}

.body {
    display: flex;
    flex-direction: column;
}

.info {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 55px;
}

.box{
    width: 115px;
    height: 115px;
    background-color: white;
    border: solid 4px #2f68c4;
    border-radius: 10px;
    padding: 40px;
    
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .text {
    max-width: 170px;
    color: rgb(100, 100, 100);
    font-weight:lighter;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 95px 230px 55px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;   
}

.cite {
    font-weight: bolder;
    text-align: end;
}

.action-container {
    display: flex;
    justify-content: center;
    padding: 90px 100px;
    background-color: white;
}

.action {
    display: flex;
    background-color: #3882f6;
    border: solid #3882f6 7px;
    border-radius: 7px;
    padding: 50px 150px;
    justify-content: space-between;
    gap: 90px;
}

.action-text {
    display: flex;
    flex-direction: column;
}

.call {
    color: #F9FAF8;
    font-size: 20px;
    margin: 0;
}

.action-text .text {
    margin: 0;
}

#bsign {
    border: solid 3px white;
}

.footer {
    background-color: #1F2937;
    padding: 12px;
}

.copyright {
    color: #E5E7EB;
    text-align: center;
}